# Node
/node_modules
/npm-debug.log

# Compiled output
/web/admin/*
/tmp
/out-tsc
/bazel-out
/.angular/cache
/coverage

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Composer
/bin/
/vendor/
composer.phar

# SpotCms config & logs
/config/*
!/config/app_init.php
!/config/env.php.dist
!/config/dev.php.dist
/var/logs/*
!/var/logs/.gitkeep

# Code coverage output
coverage.xml
