<div class="content-container">
    <h1 class="mat-h1">
        File Manager
        <button mat-raised-button class="header-button" color="primary" href="#">
            Upload file
        </button>
    </h1>

    <mat-card *ngIf="path.length > 0">
        <mat-card-content class="breadcrumbs">
            <a href="#"><mat-icon class="path-icon">home</mat-icon></a>
            <span *ngFor="let segment of path"> / 
                <a color="primary" *ngIf="!segment.current" href="#">{{ segment.value }}</a>
                <strong color="muted" *ngIf="segment.current">{{ segment.value }}</strong></span>
        </mat-card-content>
    </mat-card>

    <mat-nav-list>
        <div mat-subheader *ngIf="folders">Folders</div>
        <a mat-list-item *ngFor="let folder of folders">
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>{{ folder.name }}</div>
            <div matListItemLine>{{ folder.updated | date }}</div>
        </a>

        <mat-divider></mat-divider>

        <div mat-subheader *ngIf="files">Files</div>
        <a mat-list-item *ngFor="let file of files">
            <mat-icon matListItemIcon>insert_drive_file</mat-icon>
            <div matListItemTitle>{{ file.name }}</div>
            <div matListItemLine>{{ file.updated | date }}</div>
        </a>
    </mat-nav-list>
</div>
