html, body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-sidenav {
    background: rgb(63,81,181);
    color: white;
}

md-sidenav header {
    text-align: center;
}

md-sidenav .menu-item {
    text-align: center;
    line-height: 1.25em;
    font-size: 3.5em;
    position: relative;
    width: 1.25em;
    height: 1.25em;
    background: white;
    border: .03em solid #ddd;
    color: rgb(63,81,181);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.80;
    transform: translateZ(0);
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
}

md-sidenav footer {
    font-size: .9em;
    color: #ddd;
    margin: .9em !important;
    text-align: right;
}

md-toolbar {
    background-color: white !important;
    color: black !important;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-toolbar .md-icon-button {
    margin: auto .72em auto .72em !important;
    vertical-align: middle;
    color: black !important;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

#content {
    padding: .3em 3em 0 3em;
}
