html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-sidenav {
    background: rgb(63,81,181);
    color: white;
}

md-sidenav header {
    text-align: center;
}

md-toolbar {
    background-color: white !important;
    color: black !important;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-toolbar .md-icon-button {
    margin: auto 10px auto 10px !important;
    vertical-align: middle;
    color: black !important;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

#content {
    padding: 5px 40px 0 40px;
}

.menu-item {
    text-align: center;
    line-height: 64px;
    font-size:48px;
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.80;
    transform: translateZ(0);
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
}
