<div class="content-container">
    <h1 class="mat-h1">
        Site Content
        <button mat-raised-button class="header-button" color="primary" routerLink="/create-page">
            Add page
        </button>
    </h1>

    <mat-nav-list>
        <a mat-list-item *ngFor="let page of pages">
            <mat-icon matListItemIcon>insert_drive_file</mat-icon>
            <div matListItemTitle>{{ page.title }}
                <span *ngIf="page.children > 0">({{ page.children }})</span>
            </div>
            <div matListItemLine>/{{ page.slug }}</div>
        </a>
    </mat-nav-list>
</div>
