<div class="content-container">
  <h1 class="mat-h1">
    Create page
    <button mat-raised-button class="header-button" color="primary" routerLink="/site-content">
        <mat-icon>undo</mat-icon> Back
    </button>
  </h1>

  <form [formGroup]="createPage" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="createPage-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" maxlength="512">
              <mat-error *ngIf="createPage.controls['title'].hasError('required')">
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Short title</mat-label>
              <input matInput formControlName="shortTitle" maxlength="48">
              <mat-error *ngIf="createPage.controls['shortTitle'].hasError('required')">
                Short title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Slug</mat-label>
              <input matInput formControlName="slug" maxlength="48">
              <mat-error *ngIf="createPage.controls['slug'].hasError('required')">
                Slug is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let state of statuses" [value]="state.value">
                  {{ state.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createPage.controls['status'].hasError('required')">
                Status is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <editor
              [init]="{
                base_url: '/admin/tinymce',
                suffix: '.min',
                height: 500,
                promotion: false
              }"
            ></editor>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
